*{
    margin:0px;
    padding:0px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

#headerUse h1{
    margin:10px;
    right:42%;
    position: absolute;
}
a{
    color:rgb(160, 156, 146);
    font-size: 13px;
    padding:20px;
}

#ulHolder p{
    color:rgb(160, 156, 146);
    font-size: 12px;
    padding:5px;
}

#headerBase{
    height:39px;
    width:100%;
    border-bottom: 1px solid rgba(192, 185, 168, 0.568);
}

ul{
    display:flex;
    list-style-type: none;
    height:100%;
}
#headerBase ul li{
    box-shadow: inset -1px 0 0 0 #e5e5e5;
    padding-top:5px;
}
#ulHolder{
    height:100%;
    float:left;
}

#otherInfo{
    float:right;
    display:flex;
    height:100%;
}

#otherInfo a{
    padding:10px;
}

#headerUse{
    min-height: 70px;
    display:flex;
    border-bottom:1px solid rgba(192, 185, 168, 0.568);
}

#headerUse a{
    color:rgb(160, 156, 146);
    font-size: 0px;
    padding:0px;
}

#headerUse img{
    height: 72px;
    width:72px;
    padding:10px;
    box-sizing: border-box;
    margin-left:10px;
}

#midDiv{
    margin:0 auto;
}

#discount{
    height: 60px;
    background-color: #f7f7f7;
    width:100%;
}

#shuffle{
    margin:0 auto;
    width: 50%;
}

#shuffle a{
    text-align: center;
    display:inline-flex;
}

.promoBlock{
    height:60px;
    width:60%;
    margin:0 auto;
}

.promoBlock p{
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: bold;
}

.promoBlock a{
    padding:0;
    font-size:15px;
}

.promoBlock .smallP{
    font-size:12.5px;
    letter-spacing: 0px;
    font-weight: 100;
}
/*Carousell */

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 13.9%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    right: 67%;
}
#next {
    right: 31%;
    border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

#contents{
    width:100%;
    height:713px;
    background-color:rgba(201, 201, 201, 0.39);
    display: flex;
}

.shoesImages{
    width:33.3%;
    display:inline-flex;
    height:100%;
    margin:0 auto;
}
.img0{
    background: url(../images/img0.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img1{
    background: url(../images/img1.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img2{
        background: url(../images/img2.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.img3{
    background: url(../images/img3.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img4{
    background: url(../images/img4.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img5{
    background: url(../images/img5.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img6{
    background: url(../images/img6.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img7{
    background: url(../images/img7.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img8{
    background: url(../images/img8.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#registerAndShop{
    width:100%;
    height: 170px;
    margin-top:30px;
}

#footerBase{
    display:flex;
    width:100%;
    background-color:rgba(10, 10, 10, 0.945);
    height: 430px;
    margin-top:30px;
}

#middleContent{
    width:50%;
    height:100%;
    margin:0 auto;
}

#loginBracket{
    height:inherit;
    width:50%;
    margin:0 auto;
    text-align: center;
    padding-top:10px;
}

#loginBracket p:first-child{
    font-weight: bold;
    font-size:29px;
}

#loginDist{
    margin-top:20px;
}

#loginBracket a{
    padding:10px;
    background-color:black;
    color:white;
    border-radius: 2px;
    margin-right:5px;
    margin-left:10px;
}

#contentHolder{
    width:100%;
    height: 90%;
    border-bottom: 1px solid #444;
}

#biggerPart{
    width:70%;
    float:left;
    height: 100%;
    display:flex;
}

.letterContent{
    width:33%;
    height:35%;
    text-align: left;
    color:white;
    margin-top:35px;
}

.letterContent:last-child{
    border-right:1px solid #444;
}
.letterContent p{
    margin:5px;
    letter-spacing: .03em;
    font-size: 14px;
    padding-left:25px;
}

#smallerOne{
    width:30%;
    float:right;
    height:100%;
    text-align: right;
}

#smallerOne a{
    font-size:22px;
    color:white;
    padding:8px;
}

#smallerOne i{
    margin-top:45px;
}

#bottomContent{
    height:10%;
    width:100%;
}

#rightSide{
    width:65%;
    height: 100%;
    float: right;
    text-align: right;
}

#leftSide{
    width:35%;
    height:100%;
    float:left;
    text-align:left;
}

#placeHolderForCookies{
    color:rgb(160, 156, 146);
    font-size: 13px;
}

#nbaShoesPromo{
    width:100%;
    height: 700px;
    background: url(../images/allStarImage.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.shoeHolder{
    width:97%;
    height:230px;
    margin:20px auto;
}

.descShoe{
    margin-top:10px;
    margin-left:40px;
}

.products{
    width:20%;
    height:100%;
    display:inline-flex;
    margin-left:20px;
    margin-right:70px;
    border-radius:1px;
}
.price{
    width:100%;
    height:50px;
    display:inline-flex;
    background-color:rgb(243, 242, 242);
    cursor: pointer;
}
.price p{
    text-align: center;
}

#cartItemHolder{
    width:55%;
    margin:60px auto;
    font-weight: normal;
    color: #333;
    text-align: center;
}

.sectionDesc{
   margin:0 auto;
}

.cart{
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.item{
    width: 36%;
}

.cost{
    width: 20%;
    color: #333;
}

.quantity{
    width: 35%;
}

.oneRow{
    display: flex;
    width:94%;
    margin:10px auto;
}

.cartItemPart{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom:10px;
    margin:10px auto;
}

.image-cart{
    width:38.5%;
}

.price-cart{
    width: 20%;
}

.quantity-cart{
    width: 35%;
}
.cart-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.buttonRemove{
    cursor: pointer;
    padding: .67em .67em;
    color: white;
    background-color: rgb(73, 73, 73);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.totalPrice{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.buttonPurchase{
    display: block;
    margin: 40px auto 80px auto;
    cursor: pointer;
    padding: .67em .67em;
    color: white;
    background-color: rgb(73, 73, 73);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    font-size: 1.75em;
}

.shoeHolder img{
    height: 200px;
}

.item-price{
    font-weight: bold;
}

.oneRow img{
    height: 50px;
}

.cartItems{
    max-width: 1000px;
    margin-bottom:20px;
    padding:0 1.5em;
}

#allCartHolder{
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

#loginModal{
    width:100%;
    height:164.7%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top:0;
    display:none;
}

#loginContent{
    width:500px;
    height:300px;
    background-color:white;
    margin:180px auto 0px auto;
    text-align: center;
    display:none;
}

.closingSpan{
    width:100%;
    float:right;
    text-align:right;
    margin-right:20px;
    cursor: pointer;
    margin-bottom:30px;
}

#loginContent input{
    width:80%;
    padding:5px 0px 5px 0px;
}

#loginWindow{
    cursor:pointer;
}

.loginSpan{
    width:30%;
    display:inline-block;
    padding:10px;
    background-color:black;
    margin:50px auto 50px auto;
    color:white;
    cursor: pointer;
}

#register{
    cursor:pointer;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 13px;
}

#registerContent{
    height:630px;
    width:500px;
    background-color:white;
    position:fixed;
    top: 10%;
    left: 36%;
}

#registerContent h2{
    text-align: center;
}

#registerContent input{
    border: 1px solid rgba(192, 185, 168, 0.568);
    border-radius:5px;
    margin:0px auto 26px auto;
    padding:10px;
    width:80%;
    display:flex;
}

#someCountries{
    border: 1px solid rgba(192, 185, 168, 0.568);
    border-radius:5px;
    margin:0px auto 36px auto;
    padding:10px;
    width:80%;
    display:flex;  
}

label{
    font-size: 13px;
    padding-left: 14px;
}

#labelbox{
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#registerContent #checkbox{
    width:5%;
    display:inline-block;
    padding:0px;
    margin-top:0px;
    height: 15px;
}
#buttonDiv{
    width:100%;
    text-align: center;
}

#registerContent #accountConfirm{
    margin-top:20px;
    padding:17px;
    border:0;
    background-color:black;
    color:white;
    border-radius:4px;
}

#registerContent h2{
    margin-bottom:20px;
}

#registerContent .testEmail{
    font-size:12px;
    color:red;
    margin-left:55px;
    font-weight: bold;
}

#registerContent .hidden{
    display:none
}

/*about creator*/

#aboutCreator{
    width:100%;
    height:600px;
    text-align: center;
}

#aboutCreator img{
    margin-top:50px
}

#aboutCreator p{
    width:60%;
    margin:20px auto;
    letter-spacing: 0px;
}

#aboutCreator h1{
    margin-top:40px;
}
